<h1>Make your form here</h1>

<form method="POST" action="/show">
    <p><label>Pirate Name:<input type= "text" name = "pirate[name]" ></label></p>
    <p><label>Pirate Weight:<input type= "text" name = "pirate[weight]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[height]" ></label></p>
