<h1>Make your form here</h1>

<form method="POST" action="/show">
    <p><label>Pirate Name:<input type= "text" name = "pirate[name]" ></label></p>
    <p><label>Pirate Weight:<input type= "text" name = "pirate[weight]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[height]" ></label></p>
    <p><label>Pirate Height:<input id= "ship1" type= "text" name = "pirate[ships][][name]]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[ships][][type]]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[ships][][booty]]" ></label></p>
    <p><label>Pirate Height:<input id= "ship2" type= "text" name = "pirate[ships][][name]]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[ships][][type]]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[ships][][booty]]" ></label></p>


 <input type="submit" id="Submit"/>
 </form>
