<h1>Make your form here</h1>

<form method="POST" action="/pirates">
    <p><label>Pirate Name:<input type= "text" name = "pirate[name]" ></label></p>
    <p><label>Pirate Weight:<input type= "text" name = "pirate[weight]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[height]" ></label></p>
    <p><label>First Ship name:<input id= "ship_name_1" type= "text" name = "pirate[ships][][name]]" ></label></p>
    <p><label>Ship type:<input type= "text" name = "pirate[ships][][type]]" ></label></p>
    <p><label>Ship Booty:<input type= "text" name = "pirate[ships][][booty]]" ></label></p>
    <p><label>Second Ship name:<input id= "ship_name_2" type= "text" name = "pirate[ships][][name]]" ></label></p>
    <p><label>Ship type:<input type= "text" name = "pirate[ships][][type]]" ></label></p>
    <p><label>Ship booty:<input type= "text" name = "pirate[ships][][booty]]" ></label></p>


 <input type="submit" id="Submit"/>
 </form>
