<h1>Make your form here</h1>

<form method="POST" action="/pirates">
    <p><label>Pirate Name:<input type= "text" name = "pirate[name]" ></label></p>
    <p><label>Pirate Weight:<input type= "text" name = "pirate[weight]" ></label></p>
    <p><label>Pirate Height:<input type= "text" name = "pirate[height]" ></label></p>
 <input type="submit" id="Submit"/>
 </form>
